<!-- This is a form to edit a student -->
<br/>
<!-- We indicate which student is being edited through providing an andrew ID -->
	<h3>
		Edit Student <%= @student[0][0] %>
	</h3>
	<br/>
	<form role="form" action='https://first-test-bmulla.c9users.io/students/<%= @student[0][0] %>' method='post'>
	<input type="hidden" name="_method" value="patch">

<!-- Here we will have the input for each column, the original value will be inside the box for user's reference -->
		<div class="form-group">
					 
			<label for="firstname">
				First Name
			</label>
			<input type="text" class="form-control" id="firstname" name="firstname" value="<%= @student[0][1] %>"/>
		</div>
		
		<div class="form-group">
					 
			<label for="lastname">
				Last Name
			</label>
			<input type="text" class="form-control" id="lastname" name="lastname" value="<%= @student[0][2] %> "/>
		</div>
		
		<div class="form-group">
					 
			<label for="major">
				Major
			</label>
			<input type="text" class="form-control" id="major" name="major" value="<%= @student[0][3] %>"/>
		</div>
		
		<div class="form-group">
					 
			<label for="email">
				Email
			</label>
			<input type="text" class="form-control" id="email" name="email" value="<%= @student[0][4] %>" />
		</div>
		
		<div class="form-group">
					 
			<label for="status">
				Status
			</label>
			<input type="text" class="form-control" id="status" name="status" value="<%= @student[0][5] %>" />
		</div>
		
				<button type="submit" class="btn btn-secondary">
					Submit
				</button>
			</form>
			<br/>

		</div>

