<!-- This is the main page where students records will be displayed -->

<!--This division contains links for filters -->
<div class="container-fluid">  
  <div class="row" >
	  <div class="col-md-9 bg-light">
			<div class="row">
        <p> <br/> &nbsp show <a href="/students/g" >graduated</a>, <a  href="/students/ce" >Currently Enrolled</a>, <a href="/students" >all</a></p>
			</div>
		</div>
		<div class="col-md-3 bg-light" align="center">
		    <p><a href = "/students/new" class="btn  btn-secondary "  >Create New Student</a></p>
		</div>
  </div>
</div>

<!-- This is the table that will display the students records -->
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Andrew ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Status</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
      
<% @students.each do |andrewid, firstname, lastname, status| %> 
    <tr>
      <th scope="row"><a href="/students/<%= andrewid %>" class="text-dark"> <%= andrewid %></a></th>
      <td><%= firstname %></td>
      <td><%= lastname %></td>
      <td><%= status %></td>
      <td><a href="/students/<%= andrewid %>/edit" class="btn btn-secondary">edit</a></td>
      <td><a href = "/students/<%= andrewid %>/delete" class="btn btn-warning" data-toggle="modal" data-target="#myModal">delete</a>
      
       <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is a large modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>
